.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .button-container li {
    margin: 0 10px;
  }
  